/* Start of Main */
body {
    background: #E0E0E0 !important;
    font-family: 'Roboto', sans-serif;
    color: #111;
}
/* End of Main */

/* Start of Header and Navigation */
header {
    padding: 15px;
    background: #F5F5F5;
    box-shadow: 0px 5px 10px #555;
    margin-bottom: 25px;
}

header .container > * {
    display: inline-block;
    vertical-align: middle;
}

header .container h1 {
    margin: 0px 25px 0px 0px;
}

header img.logo {
    width: 40px;
    margin-right: 25px;
}

header nav {
    float: right;
    position: relative;
}

header nav span {
    line-height: 39px;
    font-size: 36px;
    margin-left: 10px;
}

header nav span:hover {
    cursor: pointer;
    color: #F47B20;
}

header nav span.active {
    color: #F47B20;
}

header nav .dropdown_login {
    position: absolute;
    top: 45px;
    right: 0px;
    z-index: 999;
}

header nav .dropdown_login a.login-link-text,
header nav .dropdown_login a.login-close-text {
    display: none;
}

header nav .dropdown_login #login-dropdown-list {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
}

header nav .dropdown_login #login-dropdown-list:after {
    content: ' ';
    clear: both;
    display: block;
}

/* End of Header and Navigation */

/* Start of Searchbot */

/* Classic chat
section#searchbot {
    display:block;
    position: absolute;
    bottom: 0px;
    right: 15%;
    color: #FFF;
}

@media (max-width: 992px) {
    section#searchbot {
        right: 0;
    }
}

section#searchbot > .searchbot_header {
    padding: 5px 10px;
    background: #F47B20;
    height: 30px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

section#searchbot > .searchbot_header:hover {
    cursor: pointer;
}

section#searchbot.closed > .searchbot_body {
    height: 0px;
    overflow: hidden;
}
*/

section#searchbot {
    display:block;
    color: #FFF;
}

section#searchbot > .searchbot_body {
    font-size: 20px;
}

section#searchbot > .searchbot_body > .searchbot_chat_wrapper {
    width: 100%;
    /*min-height: 50px;*/
    max-height: 200px;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
    margin-bottom: 5px;
}

section#searchbot > .searchbot_body > .searchbot_chat_wrapper > .searchbot_chat {
    width: 100%;
    min-height: 200px;
    padding: 5px;
}

section#searchbot > .searchbot_body > .searchbot_chat_wrapper > .searchbot_chat > div {
    max-width: 80%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #FFCA08;
    float: left;
    clear: both;
}

section#searchbot > .searchbot_body > .searchbot_chat_wrapper > .searchbot_chat > .me {
    background: #F47B20;
    float: right;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

section#searchbot > .searchbot_body > .searchbot_activity {
    color: black;
    font-size: 25px;
    margin-bottom: 25px;
}

section#searchbot > .searchbot_body > .searchbot_activity > span {
    display: inline-block;
    float: left;
    margin-left: 25px;
}

section#searchbot > .searchbot_body > .searchbot_activity > span.me {
    float: right;
    margin-left: 0px;
    margin-right: 25px;
}

section#searchbot > .searchbot_body > .searchbot_activity > span > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    margin-right: 5px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

section#searchbot > .searchbot_body > .searchbot_activity > span > span:nth-child(2) {
    animation-delay: .2s;
}

section#searchbot > .searchbot_body > .searchbot_activity > span > span:nth-child(3) {
    animation-delay: .4s;
}

section#searchbot > .searchbot_body > #searchbot_input {
    width: 100%;
    height: 40px;
    color: #111;
    resize: none;
    overflow: auto;
    border-radius: 20px;
    padding: 0px 15px;
    border: 1px solid #CCC;
    line-height: 38px;
}

@-webkit-keyframes bling_bling {
    0%, 100% { box-shadow: 0px 0px 15px rgba(244, 132, 32, 0); }
    50% { box-shadow: 0px 0px 15px rgba(244, 132, 32, 1); }
}

@keyframes bling_bling {
    0%, 100% { box-shadow: 0px 0px 15px rgba(244, 132, 32, 0); }
    50% { box-shadow: 0px 0px 15px rgba(244, 132, 32, 1); }
}

section#searchbot > .searchbot_body > #searchbot_input.bling_bling {
    -webkit-animation: bling_bling 2s infinite;
    animation: bling_bling 2s infinite;
}

section#searchbot > .searchbot_body > #searchbot_input:focus {
    outline: none;
}

section#searchbot_results {
    margin-top: 25px;
}
/* End of Searchbot */